label(for="therName") Therapy Name:
input(type="text" id="therName" name="therName")
label(for="therStreet") Address:
input(type="text" id="therStreet" name="therStreet")
label(for="therCity") City:
input(type="text" id="therCity" name="therCity")
label(for="therState") State:
input(type="text" id="therState" name="therState")
label(for="therImage1") Image1:
input(type="text" id="therImage1" name="therImage1")
label(for="therImage2") Image2:
input(type="text" id="therImage2" name="therImage2")
label(for="therImage3") Image3:
input(type="text" id="therImage3" name="therImage3")
label(for="therSvc1") Service 1:
input(type="text" id="therSvc1" name="therSvc1" )
label(for="therSvc2") Service 2:
input(type="text" id="therSvc2" name="therSvc2")
label(for="therSvc3") Service 3:
input(type="text" id="therSvc3" name="therSvc3")
label( for="therAbout") About:
textarea(name='therAbout' id="therAbout" cols='100', rows='10')
label(for="therDeals") Discounts and Deals:
textarea(name='therDeals' id="therDeals" cols='100', rows='10')
div
  input(type="submit" id='submit' value="Create")