doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    // title Search Therapy
    // bootstrap css
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    link(rel='stylesheet', href='/static/css/custom.css')
    // navbar
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
      .container
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/twitter') Twitter
          if admin
            li.nav-item
              a.nav-link(href='/therapies/list') Therapy List
            li.nav-item
              a.nav-link(href='/users/list') User List
          if !currentUser
              a.btn(href='/register') Sign Up
          if currentUser
            div
              img.avatar.img-circle.hidden-xs-down(src='/static/img/avatar.png')
              a.btn.ml-2(href='/logout') Log Out
          else
            a.btn.ml-2(href='/login') Log In
        a.navbar-brand.pull-sm-right.m-r-0.hidden-xs-down(href='http://www.teamtreehouse.com') Presented By SearchFire
    // /navbar
              
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
            
  block content
  
  