doctype html
html(lang="en")
    body#page--error
        #error.app--error
            h1 Sorry - An Error Occurred 
            h2 #{message}
            img(src='/static/img/minion1.jpg' width='25%' height='25%')
        #message.app--error--message
            h2.app--error--message Try again later.
