label(for="userName") User Name:
input(type="text" id="userName" name="userName")
label(for="userEmail") Email:
input(type="text" id="userEmail" name="userEmail")
label Administrator:
input(type='radio' id= "adminTrue" class='radio' value='true' name='userAdmin')
label(for='adminTrue') True
input(type='radio' id= "adminFalse" class='radio' value='false' name='userAdmin')
label(for='adminFalse') False
input(type="submit"  id='submit' value="Create")